<div class="gamerz-background">
    <div class="buttons" id="buttons"> 
      
    </div>
  
    <div class="cards">
      <div class="card1">
        <div class="card" style="width: 18rem;">
          <img src="assets/img/1111.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title" align="center">Casual</h5>
            <p class="card-text">Intel i5 8500F</p>
            <p class="card-text">GeForce GTX 1660 4GB</p>
            <p class="card-text">16GB DDR4 RAM</p>
            <p class="card-text">500 Watt PSU</p>
            <p class="card-text">1TB SSD</p>
            <a href="#" class="btn btn-primary">Buy Now 599$</a>
          </div>
        </div>
      </div>
      <div class="card2">
        <div class="card" style="width: 18rem;">
          <img src="assets/img/2222.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title" align="center">PRO</h5>
            <p class="card-text">Intel i7 10700KF</p>
            <p class="card-text">GeForce RTX 2060 6GB</p>
            <p class="card-text">32GB DDR4 RAM</p>
            <p class="card-text">750 Watt PSU</p>
            <p class="card-text">1TB SSD</p>
            <a href="#" class="btn btn-primary">Buy Now 999$</a>
          </div>
        </div>
      </div>
      <div class="card3">
        <div class="card" style="width: 18rem;">
          <img src="assets/img/3333.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title" align="center">EXTREME!!!</h5>
            <p class="card-text">Intel i9 11900K</p>
            <p class="card-text">GeForce RTX 3070 8GB</p>
            <p class="card-text">64GB DDR4 RAM</p>
            <p class="card-text">850 Watt PSU</p>
            <p class="card-text">2TB SSD</p>
            <a href="#" class="btn btn-primary">Buy Now 1499$</a>
          </div>
        </div>
      </div>
    </div>
  
    <br><br><br><br><br><br>
  
    <p align="center" style="font-size: 50px; color: rgb(255, 255, 255);">Compatible best with these games</p>
  
    <br><br><br><br>
  
    <div id="carouselExample" class="carousel slide">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="assets/img/11111.jpg" class="d-block custom-image-size" alt="...">
        </div>
        <div class="carousel-item">
          <img src="assets/img/22222.jpg" class="d-block custom-image-size" alt="...">
        </div>
        <div class="carousel-item">
          <img src="assets/img/33333.jpg" class="d-block custom-image-size" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  