.gamerz-background {
  background-color: #292929; 
  background-image: linear-gradient(rgb(24, 24, 24), rgb(23, 71, 228)); 
  background-repeat: no-repeat;
  background-attachment: fixed;
}



.buttons {
  margin-top: 20px;
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;

}

.cards {
  margin-top: 150px;
  column-gap: 150px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.custom-image-size {
  margin-left: 15%;
  width: 70%; 
  height: auto; 

}
