<footer>
    <div class="fLeft">
        <div class="fMenu">
            <h1 class="fMenuTitle" style="font-size: 22px">About Us</h1>
            <ul class="fList">
                <li class="fListItem">
                    <a href="https://www.google.com/">Company</a>
                </li>
                <li class="fListItem">
                    <a href="https://www.google.com/">Contact</a>
                </li>
                <li class="fListItem">
                    <a href="https://www.google.com/">Careers</a>
                </li>
                <li class="fListItem">
                    <a href="https://www.google.com/">Affiliates</a>
                </li>
                <li class="fListItem">
                    <a href="https://www.google.com/">Stores</a>
                </li>
            </ul>
        </div>
        <div class="fMenu">
            <h1 class="fMenuTitle" style="font-size: 22px;">Useful Links</h1>
            <ul class="fList">
                <li class="fListItem">
                    <a href="https://www.google.com/">Support</a>
                </li>
                <li class="fListItem">
                    <a href="https://www.google.com/">Refund</a>
                </li>
                <li class="fListItem">
                    <a href="https://www.google.com/">FAQ</a>
                </li>
                <li class="fListItem">
                    <a href="https://www.google.com/">Feedback</a>
                </li>
                <li class="fListItem">
                    <a href="https://www.google.com/">Stories</a>
                </li>
            </ul>
        </div>
        <div class="fMenu">
            <h1 class="fMenuTitle" style="font-size: 22px">Products</h1>
            <ul class="fList">
                <li class="fListItem">
                    <a href="https://www.google.com/">Computers</a>
                </li>
                <li class="fListItem">
                    <a href="https://www.google.com/">Laptops</a>
                </li>
                <li class="fListItem">
                    <a href="https://www.google.com/">Phones</a>
                </li>
                <li class="fListItem">
                    <a href="https://www.google.com/">Tablets</a>
                </li>
                <li class="fListItem">
                    <a href="https://www.google.com/">Others</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="fRight">
        <div class="fRightMenu">
            <h1 class="fMenuTitle">You can send us your email</h1>
            <div class="fMail">
                <input type="text" placeholder="your@email.com" class="fInput">
                <button class="fButton">Join!</button>
            </div>
        </div>
        <div class="fRightMenu">
            <h1 class="fMenuTitle">Follow Us</h1>
            <div class="fIcons">
                
                <a href="https://www.google.com/">
                    <img src="assets/img/facebook.png" alt="" class="fIcon">
                </a>
                <a href="https://www.google.com/">
                    <img src="assets/img/twitter.png" alt="" class="fIcon">
                </a>
                <a href="https://www.google.com/">
                    <img src="assets/img/instagram.png" alt="" class="fIcon">
                </a>
                <a href="https://www.google.com/">
                    <img src="assets/img/whatsapp.png" alt="" class="fIcon">
                </a>

            </div>
        </div>
    </div>
</footer>
