<!-- <div class="slider">
    <div class="slides" #slidesContainer>
      <img class="slide" src="assets/img/22.jpg" alt="Image #1">
      <img class="slide" src="assets/img/product2.png" alt="Image #2">
      <img class="slide" src="assets/img/product3.png" alt="Image #3">
      <img class="slide" src="assets/img/product4.png" alt="Image #4">
      <img class="slide" src="assets/img/product5.png" alt="Image #5">
    </div>
    <button class="prev">&#10094;</button>
    <button class="next">&#10095;</button>
  </div>   -->

  <!-- <div>test</div> -->

  <div id="carouselExampleRide" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="3000">
        <img src="assets/img/22.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="3000">
        <img src="assets/img/product2.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="3000">
        <img src="assets/img/product3.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="3000">
        <img src="assets/img/product4.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="3000">
        <img src="assets/img/product5.png" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>